html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.back-colour-0 {background-color: var(--colour-0) !important }
.back-colour-1 {background-color: var(--colour-1) !important }
.back-colour-2 {background-color: var(--colour-2) !important }
.back-colour-3 {background-color: var(--colour-3) !important }
.back-colour-4 {background-color: var(--colour-4) !important }

.colour-0 {color: var(--colour-0) !important }
.colour-1 {color: var(--colour-1) !important }
.colour-2 {color: var(--colour-2) !important }
.colour-3 {color: var(--colour-3) !important }
.colour-4 {color: var(--colour-4) !important }
.text-colour {color: var(--text-colour) !important}

a {
    color: var(--text-colour)
}
    a:link {
        color: var(--text-colour)
    }



    .spinner {
      width: 3em;
      height: 3em;
      cursor: not-allowed;
      border-radius: 50%;
      border: 2px solid #444;
      box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2, 10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500, 0 10px 10px 0px #ff9500, -10px 10px 10px 0px #ffb700;
      animation: rot55 0.7s linear infinite;
    }
    
    .spinnerin {
      border: 2px solid #444;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    @keyframes rot55 {
      to {
        transform: rotate(360deg);
      }
    }
    