@model IEnumerable<JokesMVC2023.Models.Data.Joke>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="border shadow rounded m-4 row p-2">
    <div class="col">
        <input type="text" id="txtSearch" class="form-control" placeholder="Seach by partial Question or Answer" />
    </div>
    <div class="col-2 text-center">
        <input type="button" class="btn btn-primary" value="Search" id="btnSearchClear" />
    </div>
</div>

<input type="button" value="Create Joke" class="btn btn-outline-primary" onclick="showCreateModal()" />

<div id="JokeTableContainer">
    <partial name="_JokeTable.cshtml" />
</div>



<div class="modal fade" id="genericModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title">Create Joke</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody">
      </div>
    </div>
  </div>
</div>

<div class="modal" id="spinnerModal" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" >
        <div class="spinner">
            <div class="spinnerin"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="addJokeToListModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title">Add Joke To List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">

                <form id="addJokeToListForm">
                    <div class="row justify-content-evenly">
                        <div class="col-6" id="ddlContainer">
                            <select class="form-select" disabled>
                                <option>Loading....</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <input type="submit" value="Add Joke" class="btn btn-success" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/joke.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


