@model IEnumerable<JokesMVC2023.Models.Data.Joke>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <input type="button" class="btn btn-outline-danger" value="Update" onclick="startTimer()" />
</p>

<p>
    <a asp-action="Create">Create New</a>
</p>

<input type="button" value="Show Modal" class="btn btn-outline-primary" onclick="showCreateModal()" />

<div id="JokeTableContainer">
    <partial name="_JokeTable.cshtml" />
</div>



<div class="modal fade" id="createModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Joke</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody">
      </div>
    </div>
  </div>
</div>










<script>

    function deleteConfirm(id){
        if(confirm("Delete Joke with ID: " + id + "?")){
            console.log('Deleted!')
            // Send a fetch DELETE request to an endpoint
            // await fetch('',{
            //  method: 'DELETE'
            // })
        }
    }

    function startTimer(){
        setInterval(updateTable, 1000);
    }

    async function updateTable(){
        var result = await fetch("/Joke/JokeTablePartial");
        var htmlResult = await result.text();
        document.getElementById('JokeTableContainer').innerHTML = htmlResult;
    }

    async function showCreateModal(){
        // Fetch the required partial view
        var result = await fetch("/Joke/Create");
        
        // convert the response into html
        var htmlResult = await result.text();

        // set the modal body to the returned html
        document.getElementById('modalBody').innerHTML = htmlResult;

        var form = document.querySelector("form[action='/Joke/Create']")

        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            
            // validate the form

            // POST the form data as a JSON object
            let jokeCreate = {
                JokeQuestion: e.target["JokeQuestion"].value,
                JokeAnswer: e.target["JokeAnswer"].value
            }

            console.log(JSON.stringify(jokeCreate));

            let result = await fetch('/Joke/Create', {
                method: "POST",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify(jokeCreate)
            });

            $('#createModal').modal('hide')

            console.log(jokeCreate);
        })

        // show the modal
        $('#createModal').modal('show')

    }

</script>


